<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  rel="stylesheet"
/>
<!--
<app-login-aluno></app-login-aluno>
<app-login-integrante-apm></app-login-integrante-apm>
<app-resetar-senha></app-resetar-senha>
<app-esqueceu-senha></app-esqueceu-senha>
<app-compra-uniformes></app-compra-uniformes>
<app-cadastro-integrante-apm></app-cadastro-integrante-apm>
<app-cadastro-aluno></app-cadastro-aluno>
-->
<app-usuario *ngIf="usuario"></app-usuario>
<app-compra-uniformes></app-compra-uniformes>
