<nav class="navbar navbar-expand-lg menu-padrao">
  <div class="container-fluid">
    <a class="navbar-brand uniformes" routerLink="/local-armario">ARMÁRIOS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end menu"
      id="navbarNav"
    >
      <div class="row home">
        <div class="col-sm-1 col-md-2">
          <img class="icon-menu" src="../../../assets/icon-home.svg" />
        </div>
        <div class="col-sm-9 col-md-8">
          <a routerLink="/">Home</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-md-2 mt-lg-2">
          <img class="icon-menu" src="../../../assets/user_icon.svg" />
        </div>
        <div class="col-sm-9 col-md-8">
          <a routerLink="/usuario">Entre ou Cadastre-se</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-md-2 mt-lg-2">
          <img class="icon-menu" src="../../../assets/sacola.svg" />
        </div>
        <div class="col-sm-9 col-md-8">
          <a href="">Minha Sacola </a>
          <a href=""><strong>R$ 0, 00</strong></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section>
  <div>
    <h3 class="titulo-aluguel">
      Alugue já seu armário na bat caverna!
    </h3>
  </div>
  <div><h4 class="titulo-escolha">Escolha um armário disponível</h4></div>
  <div class="d-flex conjunto-armarios" style="overflow: auto">
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label for="" class="numero-armario">329</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">330</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">331</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">332</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label for="" class="numero-armario">333</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">334</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">335</label>
      </li>
      <a href="" routerLink="/aluga-armario"><li class="armario disponível"><label for="" class="numero-armario">336</label>
      </li></a>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label for="" class="numero-armario">337</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">338</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">339</label>
      </li>
      <a href="" routerLink="/aluga-armario"><li class="armario disponível"><label for="" class="numero-armario">336</label>

      </li></a>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">341</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">342</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">343</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">344</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">345</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">346</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">347</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">348</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">321</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">322</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">323</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">324</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">325</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">326</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">327</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">328</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">313</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">314</label>
      </li>
      <li class="armario ocupado">
        <label for="" class="numero-armario">315</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">316</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">317</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">318</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">319</label>
      </li>
      <a href="" routerLink="/aluga-armario"><li class="armario disponível"><label for="" class="numero-armario">320</label>

      </li></a>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">305</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">306</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">307</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">308</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">309</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">310</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">311</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">312</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">297</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">298</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">299</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">300</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">301</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">302</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">303</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">304</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">289</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">290</label>
      </li>
      <a href="" routerLink="/aluga-armario"><li class="armario disponível"><label for="" class="numero-armario">291</label>
      </li></a>
      <li class="armario ocupado">
        <label class="numero-armario" for="">292</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">293</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">294</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">295</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">296</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">281</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">282</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">283</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">284</label>
      </li>
    </ul>
    <ul class="coluna-armario">
      <li class="armario ocupado">
        <label class="numero-armario" for="">285</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">286</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">287</label>
      </li>
      <li class="armario ocupado">
        <label class="numero-armario" for="">288</label>
      </li>
    </ul>
  </div>

  <div class="p-5">
    <div class="d-flex mb-2">
      <img
        src="../../../assets/verde.png"
        width="28 "
        height="28"
        alt="disponivel"
      />
      <p style="font-weight: 600; margin: 2px 0px 0px 10px">Disponível</p>
    </div>
    <div class="d-flex">
      <img
        src="../../../assets/cinza.png"
        width="30"
        height="30"
        alt="ocupado"
      />
      <p style="font-weight: 600; margin: 2px 0px 0px 10px">Ocupado</p>
    </div>
  </div>
</section>

<footer>
  <div class="rodape">
    <div class="row">
      <div class="col-sm-12 col-md-6 rodapeinfo">
        <h1>CONTATO</h1>
        <div class="row ml-2">
          <div class="col-sm-1 col-md-2">
            <img
              class="icons-rodape"
              src="../../../assets/icon-telefone.svg"
              alt=""
            />
          </div>
          <div class="col-4">
            <p>Telefone: <span class="itens">11 2905-1128</span></p>
          </div>
        </div>
        <div class="row ml-2">
          <div class="col-sm-1 col-md-2">
            <img
              class="icons-rodape"
              src="../../../assets/icon-email.svg"
              alt=""
            />
          </div>
          <div class="col-8">
            <p>Emails:</p>
            <p class="emailfooter">
              Diretoria:
              <a class="itens" href="mailto:e064dir@cps.sp.gov.br">
                e064dir@cps.sp.gov.br</a
              >
            </p>
            <p class="emailfooter">
              Diretoria Administrativa:
              <a class="itens" href="mailto:e064adm@cps.sp.gov.br">
                e064adm@cps.sp.gov.br</a
              >
            </p>
            <p class="emailfooter">
              Diretoria Acadêmica:
              <a class="itens" href="mailto:e064acad@cps.sp.gov.br">
                e064acad@cps.sp.gov.br</a
              >
            </p>
          </div>
        </div>
        <div>
          <h4 class="mt-5">Localização</h4>
          <p>
            Rua Alcântara, 113 - Vila Guilherme - CEP: 02110-010 - São Paulo/SP
          </p>
        </div>
        <div>
          <h4>Horário de atendimento</h4>
          <p>Seg. a Sex. das 08h às 17h</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 rodape2">
        <h1>ACOMPANHE NAS REDES SOCIAIS</h1>
        <div class="row">
          <div class="d-flex justify-content-end">
            <div class="row instagram">
              <div class="col-5">
                <img
                  class="icons-rodape"
                  src="../../../assets/icon-instagram.svg"
                  alt=""
                />
              </div>
              <div class="col-5">
                <a href="https://www.instagram.com/etechoracio/" class="itens"
                  >@etechoracio</a
                >
              </div>
            </div>
            <div class="row instagram">
              <div class="col-5">
                <img
                  class="icons-rodape"
                  src="../../../assets/icon-instagram.svg"
                  alt=""
                />
              </div>
              <div class="col-5">
                <a href="https://www.instagram.com/magym_has/" class="itens"
                  >@magym_has</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="logorodape">
          <img src="../ ../../../../assets/logomagym.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>
