<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand p-3" href="#">UNIFORMES</a>
    <button
      class="navbar-toggler m-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <img class="icon-navbar" src="../../../assets/conversas.svg" />
          <a class="nav-link" href="#">Central de atendimento</a>
        </li>
        <li class="nav-item">
          <img class="icon-navbar" src="../../../assets/user_icon.svg" />
          <a class="nav-link" href="#">Entre ou Cadastre-se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
