.pagina-uniforme {
  text-align: center;
}
.inicio {
  /* background-image: url("../../../assets/aa.jpeg");
  background-size: cover; /* Isso dimensiona a imagem para preencher a seção */
  background-color: #242424;
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center; /* Centraliza a imagem no elemento */
  height: 500px; /* Defina a altura desejada da seção */
  color: #f6f6f6;
}
.imagens-uniforme {
  margin-top: 20px;
  width: 250px;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
  padding: 30px;
}
.carousel-ajuste {
  color: #f6f6f6;
  height: 100vh;
}
#secao2 .imagens-uniforme{
margin-top: 25vh;
padding: 20px;
border: none;
}

#secao3 .imagens-uniforme{
  margin-top: 25vh;
  padding: 20px;
  border: none;
  }
.rodapeinfo{
  text-align: start;
  padding-left: 10%
}
.rodape{
  color: #f6f6f6;
  background-color: #000;
  height: 100vh;
  padding-top: 10%;
}
