.pagina-uniforme {
  text-align: center;
  font-weight: 600;
}
.inicio {
  /* background-image: url("../../../assets/aa.jpeg");
  background-size: cover; /* Isso dimensiona a imagem para preencher a seção */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center; /* Centraliza a imagem no elemento */
  height: 500px; /* Defina a altura desejada da seção */
  color: #242424;
}
@media (max-width: 970px) {
  .inicio {
    height: 150vh;
  }
  #secao3 .imagens-uniforme,
  #secao2 .imagens-uniforme {
    height: 100vh;
    padding-top: 0;
  }
}
.imagens-uniforme {
  margin-top: 20px;
  width: 300px;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
  padding: 30px;
}
.carousel-ajuste {
  height: 100vh;
  font-weight: 600;
  font-size: 20px;
}
#secao2 .imagens-uniforme {
  margin-top: 10vh;
  padding: 20px;
  border: none;
}

#secao3 .imagens-uniforme {
  margin-top: 10vh;
  padding: 20px;
  border: none;
}
#secao2,
#secao3 {
  padding-top: 20vh;
}
.feminino img:hover, .masculino img:hover{
  background-color: #656060;
}
.titulo-secao{
  color: #d5342a;
}
.categoria{
  border: 2px solid #242424;
  width: 25vh;
  padding: 5px;
  background-color:#d5342a;
  margin-left: 10px;
  border-radius: 10px;
}
