<div class="row resetarsenha">
  <div class="col-md-6 col-sm-12 d-flex justify-content-center">
    <h1>Resetar senha</h1>
  </div>
  <div class="col-md-6 col-sm-12 d-flex justify-content-center">
    <form>
      <div>
        <img class="icon" src="../../../assets/lock_icon.svg" />
        <input class="entradaDados" type="password" placeholder="Nova Senha" />
      </div>
      <div>
        <img class="icon" src="../../../assets/lock_icon.svg" />
        <input
          class="entradaDados"
          type="password"
          placeholder="Confirmar Nova Senha"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn">Salvar</button>
      </div>
    </form>
  </div>
</div>
