<div class="container align-self-center">
  <form class="form-group">
    <h2>Login</h2>
    <h4 class="mb-4">Integrante APM</h4>
    <div class="rm">
      <img class="icon" src="../../../assets/user_icon.svg" />
      <input class="entradaDados" type="text" placeholder="Digite seu RA" />
    </div>
    <div class="rm">
      <img class="icon" src="../../../assets/lock_icon.svg" />
      <input class="entradaDados" type="password" placeholder="Senha" />
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
        <label class="radio-inline">
          <input class="mr-2" type="checkbox" />Lembrar senha</label
        >
      </div>
      <div class="col-sm-2">
        <a href="">Esqueci minha senha</a>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div>
      <button class="btn" placeholder="Login">Login</button>
      <!--<a href="">Não possui conta? Cadastre-se</a>-->
    </div>
  </form>
</div>
