
* {
  color: #242424;
  margin: auto;
  text-align: center;
}

h2{
  margin-top: 10%;
}

a {
  font-size: 14px;
}
.icon {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
}

.rm {
  position: relative;
}
