<div class="container loginA">
  <h2>Login</h2>
  <h4>Aluno</h4>
  <form class="form-inline">
    <div class="rm d-flex justify-content-start">
      <img class="icon" src="../../../assets/user_icon.svg" />
      <input type="text" placeholder="Digite seu RM" />
    </div>
    <div class="rm d-flex justify-content-start">
      <img class="icon" src="../../../assets/lock_icon.svg" />
      <input type="text" placeholder="Senha" />
    </div>
    <div class="esquecisenha">
      <input type="checkbox" name="lembrarsenha" />Lembrar senha
      <a href="">Esqueci minha senha</a>
    </div>
    <button class="btn">Login</button>
    <a href="">Não possui conta? Cadastre-se</a>
  </form>
</div>
