<div class="loginA row d-flex">
  <form class="form-group">
    <h2>Login</h2>
    <h4>Aluno</h4>
    <div class="rm form-group">
      <img class="icon" src="../../../assets/user_icon.svg" />
      <input type="text" placeholder="Digite seu RM" />
    </div>
    <div class="rm form-group">
      <img class="icon" src="../../../assets/lock_icon.svg" />
      <input type="text" placeholder="Senha" />
    </div>
  </form>
  <div class="form-group">
    <form class="form-group">
      <input type="checkbox" name="lembrarsenha" />Lembrar senha
      <a href="">Esqueci minha senha</a>
    </form>
    <form class="form-group">
      <button type="button" class="btn" placeholder="Login">Login</button>
      <a href="">Não possui conta? Cadastre-se</a>
    </form>
  </div>
</div>
