<main>
  <div class="camisetas">
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg menu-padrao">
      <div class="container-fluid">
        <a class="navbar-brand uniformes" [routerLink]="['/compra-uniformes']"
          >UNIFORMES</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end menu"
          id="navbarNav"
        >
          <div class="row home">
            <div class="col-sm-1 col-md-2">
              <img class="icon-menu" src="../../../assets/icon-home.svg" />
            </div>
            <div class="col-sm-9 col-md-8">
              <a [routerLink]="['/']">Home</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-md-2 mt-lg-2">
              <img class="icon-menu" src="../../../assets/user_icon.svg" />
            </div>
            <div class="col-sm-9 col-md-8">
              <a [routerLink]="['/usuario']">Entre ou Cadastre-se</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-md-2 mt-lg-2">
              <img class="icon-menu" src="../../../assets/sacola.svg" />
            </div>
            <div class="col-sm-9 col-md-8">
              <a href="">Minha Sacola </a>
              <a href=""><strong>R$ 0, 00</strong></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--NAVBAR-->
    <section>
      <div class="secao justify-content-center">
        <div class="CALCA">
          <img class="" src="../../../assets/calça-feminina.png" alt="" />
          <h3 class="camisa">Calça Feminina</h3>
          <div class="row justify-content-center">
            <div class="col-1">
              <h4 class="camisa">R$80,00</h4>
            </div>
            <div class="col-1">
              <button class="tamanhos">P</button>
              <button class="tamanhos">M</button>
              <button class="tamanhos">G</button>
              <button class="tamanhos">GG</button>
            </div>
          </div>
          <button class="compraragora">Comprar Agora R$</button>
        </div>
      </div>
    </section>

    <!--FOOTER-->
    <footer>
      <div class="rodape">
        <div class="row">
          <div class="col-sm-12 col-md-6 rodapeinfo">
            <h1>CONTATO</h1>
            <div class="row ml-2">
              <div class="col-sm-1 col-md-2">
                <img
                  class="icons-rodape"
                  src="../../../assets/icon-telefone.svg"
                  alt=""
                />
              </div>
              <div class="col-4">
                <p>Telefone: <span class="itens">11 2905-1128</span></p>
              </div>
            </div>
            <div class="row ml-2">
              <div class="col-sm-1 col-md-2">
                <img
                  class="icons-rodape"
                  src="../../../assets/icon-email.svg"
                  alt=""
                />
              </div>
              <div class="col-8">
                <p>Emails:</p>
                <p class="emailfooter">
                  Diretoria:
                  <a class="itens" href="mailto:e064dir@cps.sp.gov.br">
                    e064dir@cps.sp.gov.br</a
                  >
                </p>
                <p class="emailfooter">
                  Diretoria Administrativa:
                  <a class="itens" href="mailto:e064adm@cps.sp.gov.br">
                    e064adm@cps.sp.gov.br</a
                  >
                </p>
                <p class="emailfooter">
                  Diretoria Acadêmica:
                  <a class="itens" href="mailto:e064acad@cps.sp.gov.br">
                    e064acad@cps.sp.gov.br</a
                  >
                </p>
              </div>
            </div>
            <div>
              <h4 class="mt-5">Localização</h4>
              <p>
                Rua Alcântara, 113 - Vila Guilherme - CEP: 02110-010 - São
                Paulo/SP
              </p>
            </div>
            <div>
              <h4>Horário de atendimento</h4>
              <p>Seg. a Sex. das 08h às 17h</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 rodape2">
            <h1>ACOMPANHE NAS REDES SOCIAIS</h1>
            <div class="row">
              <div class="d-flex justify-content-end">
                <div class="row instagram">
                  <div class="col-5">
                    <img
                      class="icons-rodape"
                      src="../../../assets/icon-instagram.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-5">
                    <a
                      href="https://www.instagram.com/etechoracio/"
                      class="itens"
                      >@etechoracio</a
                    >
                  </div>
                </div>
                <div class="row instagram">
                  <div class="col-5">
                    <img
                      class="icons-rodape"
                      src="../../../assets/icon-instagram.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-5">
                    <a href="https://www.instagram.com/magym_has/" class="itens"
                      >@magym_has</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="logorodape">
              <img src="../ ../../../../assets/logomagym.jpeg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--FOOTER-->
  </div>
</main>
