.camisetas {
  background-color: #f6f6f6;
  text-align: center;
}
.secao {
  border-bottom: 4px solid #242424;
  box-shadow: 10px rgba(0, 0, 0, 3);
}
.camisa {
  margin-left: 15px;
}
.compraragora{
  margin-top: 2px;
  margin-left: 10px;
}
