.cadastroaluno {
  text-align: center;
  color: #242424;
  height: 100vh;
}
.tituloPrincipal {
  margin-top: 100px;
}
.lembrarsenha{
  text-align: end;
  margin-right: 40%;
}
.lembrarsenha label{
  margin-left: 5px;
}
