.cadastroaluno {
  background-image: url(../../../assets/fundo_cadastro.svg) fixed no-repeat;
  height: 100%;
  text-align: center;
}
* {
  color: #242424;
}
a {
  text-decoration: none;
}
.tituloPrincipal {
  margin-top: 10%;
}
.lembrarSenha input {
  align-items: start;
}
