<div class="cadastroaluno">
  <div class="container align-self-center">
    <form>
      <label class="tituloPrincipal">
        <h2>Cadastro</h2>
        <h4>Aluno</h4>
      </label>
      <div class="form-group row">
        <div>
          <input class="entradaDados cadastro" type="text" placeholder="Digite seu RM" />
        </div>
        <div>
          <input class="entradaDados cadastro" type="text" placeholder="Turma" />
        </div>
        <div>
          <input class="entradaDados cadastro" type="email" placeholder="Email" />
        </div>
        <div>
          <input class="entradaDados cadastro" type="text" placeholder="CPF" />
        </div>
        <div>
          <input class="entradaDados cadastro" type="password" placeholder="Senha" />
        </div>
        <div>
          <input
            class="entradaDados"
            type="password"
            placeholder="Confirmar Senha"
          />
        </div>
      </div>
      <div class="form-check form-check-inline" class="lembrarsenha">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label">Lembrar senha</label>
      </div>
      <div>
        <button class="btn">Cadastrar-se</button>
      </div>
      <label>Já possui conta?<a href="" routerLink="/login-aluno">Login</a></label>
    </form>
  </div>
</div>
