.tela-inicial {
  height: 100vh;
  text-align: center;
  color: #242424;
  margin: auto;
}
.padrao {
  width: 100px;
}
.titulo {
  padding-bottom: 100px;
  padding-top: 30vh;
}
.alugaarmario {
  align-self: end;
}
.item-inicio {
  width: 40px;
}
.btn {
  width: 500px;
  height: 50px;
  border-radius: 50px;
}
.item-inicio:hover {
  background-color: #ccc;
}
a {
  font-weight: 600;
  color: #242424;
}
