.alugaarmario{
  height: 100vh;
  padding-top:25vh;
}
.armario{
  width: 100px;
  height: 200px;
  margin-left: 97vh;
}
.compraragora{
  margin-left: 90vh;
}

.oi{
  margin-top: 10px;
  margin-left: 93vh;
}
