.cadastrointegrante {
  background: #242424;
  background-size: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 100%;
  padding: 100px 0;
  text-align: center;
}
* {
  color: #f6f6f6;
}
a {
  text-decoration: none;
}
.tituloPrincipal {
  margin-top: 10%;
}
#lembrarSenha input {
  text-align: start;
  color: #242424;
}
